<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <button id="link-button">Link Account</button>
        <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <!-- {% csrf_token %} -->
        <script type="text/javascript">
            // var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            // console.log("CSRF token: " + csrftoken);
            (async function() {
                const fetchLinkToken = async () => {
                    const response = await fetch('/authentication/create_link_token', { method: 'POST' });
                    const responseJSON = await response.json();
                    console.log(responseJSON); // View link token data 
                    return responseJSON.link_token;
                };

                const configs = {
                    // 1. Pass a new link_token to Link.
                    token: await fetchLinkToken(),
                    onSuccess: async function(public_token, metadata) {
                        console.log(public_token)
                        console.log(typeof public_token)
                        // 2a. Send the public_token to your app server.
                        // The onSuccess function is called when the user has successfully
                        // authenticated and selected an account to use.
                        await fetch('/authentication/exchange_public_token', {
                            method: 'POST',
                            body: JSON.stringify({ public_token: public_token }),
                        });
                    },

                    onExit: async function(err, metadata) {
                        // 2b. Gracefully handle the invalid link token error. A link token
                        // can become invalidated if it expires, has already been used
                        // for a link session, or is associated with too many invalid logins.
                        if (err != null && err.error_code === 'INVALID_LINK_TOKEN') {
                            linkHandler.destroy();
                            linkHandler = Plaid.create({
                            ...configs,
                            token: await fetchLinkToken(),
                            });
                        }
                        if (err != null) {
                            // Handle any other types of errors.
                        }
                        // metadata contains information about the institution that the
                        // user selected and the most recent API request IDs.
                        // Storing this information can be helpful for support.
                    },
                };
                var linkHandler = Plaid.create(configs);
                console.log(linkHandler);
                document.getElementById('link-button').onclick = function() {
                    linkHandler.open();
                };
            })();
        </script>    
    </body>
</html>